{%load static%}
<!-- Home page-->
        <section class="home">
            <div class="overlay"></div>

            <div class="tittle-block">
                <div class="logo">
                        <img src="{%static 'img/logo1.png' %}" width="300" alt="logo">
                </div>
                <h1 style="font-size:45px">Taste the mediterranean</h1>
                <h2>Welcome To Ararat 17 Restaurant</h2>
            </div>
            <div class="scroll-down">
                <a href="#about">
                    <img src="{%static 'img/arrow-down.png' %}" alt="down-arrow">
                </a>
            </div>
        </section>
